a {
    cursor: progress;
    margin: 20px;
    padding: 10px;
}

a:visited {
    color: orange;
}

a:active {
    color: green;
}

a:hover {
    background-color: blueviolet;
    color: antiquewhite;
}