.nome{
    
    background-color: blue; /*cor por nome */
}

.rgb{
    background-color: rgb(0, 0, 255); /*cor por rgb */
}

.rgba{
    background-color: rgba(0, 0, 255, 0.5); /*cor por rgba */
}

.hexa{
    background-color: #0000ff; /*cor por hrxadecimal */
}

.hsl{
    background-color: hsl(240, 100%, 50%); /*cor por hsl */
}

.hsla{
    background-color: hsla(240, 100%, 50%, 0.5) /*cor por hsla */
}