.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.auto{
    align-self: auto;
}

.flex-start{
    align-self: flex-start;
}

.flex-end{
    align-self: flex-end;
}

.center{
    align-self: center;
}

.stretch{
    /* só funciona quando não definimos largura ou altura fixa pro elemento */
    align-self: stretch;
}