@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Roboto", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 263px);
    grid-template-rows: repeat(4, auto);
    grid-gap: 15px;
}

.video-destaque{
    grid-area: 1 / 1 / 5 / 3;
}

.propaganda{
    grid-area: 1 / 3 / 1 / 4;
}

.videos-relacionados{
    grid-area: 2 / 3 / 5 / 4;
}

.video-relacionado{
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.video-destaque .video{
    margin-bottom: 10px;
}

.video-relacionado img{
    height: 100%;
}

.titulo{
    font-weight: 700;
}

.video-destaque .titulo{
    font-size: 18px;
    margin-bottom: 7px;
}

.video-relacionado .titulo{
    font-size: 14px;
}

.video-destaque .visualizacoes{
    font-size: 14px;
    margin-bottom: 7px;
}

.video-destaque .descricao{
    font-size: 16px;
}

.video-relacionado .autor, .video-relacionado .visualizacoes, .video-relacionado .data{
    font-size: 11px;
}